$light-color: #f2f1ef;

$medium-yellow: #cdbf9b;
$dark-yellow: #b1a177;

$light-red: #967b6b;
$medium-red: #734f3a;
$dark-red: #563623;

$light-green: #798071;
$medium-green: #555c4c;
$dark-green: #3e4635;

$dark-color: #38352e;
