@import "./assets/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Spectral, sans-serif;
  accent-color: $medium-green;
}

#body {
  background-color: $light-color;
  min-height: 100vh;
}

@font-face {
  font-family: Spectral;
  src: url(./assets/Spectral/Spectral-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Slackside One";
  src: url(./assets/Slackside_One/SlacksideOne-Regular.ttf) format("truetype");
}
